#footer {
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px #FFF;
    background-color: #320480;
    margin-bottom: -2px;

    .copyright {
        &__text {
            color: $white;
            font-size: 14px;
            font-family: $font-family;
        }

        &__link {
            text-decoration: none;
            font-size: 14px;
            transition: all .2s ease-in;
            color: #EDAE3D;
        }

        &__link:hover {
            opacity: 0.8;
        }
    }

}