#main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 79vh;


    .options {
        flex-basis: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        margin: 20px 0px;
        padding: 15px;
        flex-direction: column;

        @include break(tablet-large) {
            flex-basis: 40%;
        }

        &__list {
            margin-bottom: 25px;
            color: $white;
            list-style-type: none;

            &>li {
                padding: 15px 0px;
                color: $white;
                font-weight: 500;
                font-size: 24px;

                &>span {
                    color: #ECAD3D;
                    font-size: 24px;
                    font-weight: 800;
                }
            }
        }

        &__option {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;

            &>img {
                width: 80%;
                height: auto;
                transition-property: filter;
                transition-duration: 500ms;
            }

            &>a {
                background: #D8348C;
                padding: 15px 10px;
                text-decoration: none;
                border-radius: 12px;
                color: $white;
                font-size: 18px;
                transition: all .2s ease-in;
                margin-top: 15px;
                margin-bottom: 30px;
            }

            &>a:hover {
                background: #2CAA65;
            }

        }
    }

    .second-span {
        color: #63D1CE !important;
        font-size: 24px !important;
        font-weight: 800 !important;
    }
}